body {
}
h1 {
    color: rgb(255, 96, 96);
    text-align: center;
    font-family: serif;
    text-decoration: none;
}

header {
    background-color: rgb(255, 169, 154);
    padding: 15px;
    text-align: center;
    opacity: 0.5;
    
}

body {
    background-color: rgb(205, 214, 208);
}
